body{
  display: flex;
  background:#0F466E;
  background:-webkit-linear-gradient(right,#0F466E 0%,#5093C4 75%);
  background:-moz-linear-gradient(right,#0F466E 0%,#5093C4 75%);
  background:-o-linear-gradient(right,#0F466E 0%,#5093C4 75%);
  font-family: calibri;
}
a {
  color: inherit; 
  text-decoration: none;
}
.container-sticky-pesan{
   height: auto;
   display: inline-block;
   background: white;
}
nav{
   display: flex;
   justify-content: space-between;
}
.medsos_1-pesan{
   display: block;
   font-size: .7em;
   float: right;
}
.medsos_2-pesan{
   float: left;
   display: block;
   font-size: .8em;
}
.medsos-pesan ul li{
   display: inline-block;
   color: rgb(141, 139, 139);
   margin: 5px;
}
.container-header-pesan{
   height: 50px;
   background: white;
   display: inline-block;
}
.container-header-pesan header{
   display: flex;
   background: white;
}
header:sticky{
   padding: 45px 100px;
}
.container-header-pesan header::after{
   content: '';
   display: block;
   clear: both;
}
.container-header-pesan header ul{
   width: 40em;
   float: right;
   height: 40px;
}
.container-header-pesan header ul li{
   position: relative;
   list-style: none;
   display: inline-block;
}
.container-header-pesan header ul li a{
   background: white;
   height: 60px;
   width: 120px;
   display: block;
   font-weight: bold;
   font-size: .8em;
   text-align: center;
   line-height: 60px;
   margin-right: 5px;
   font-family: sans-serif;
   transition: 0.6s;
}
.container-header-pesan header ul li a:hover{
   background-color: rgb(228, 238, 255);
   color: rgb(39, 110, 243);
}
.container-header-pesan header ul ul{
   position: absolute;
   display: none;
}
.container-header-pesan header ul li:hover > ul{
   display: block;
}
.container-header-pesan header ul ul li{
   float: none;
   display: list-item;
   position: relative;
}
.active{
   background-color: white;
   color: rgb(39, 110, 243);
}
.logo-pesan{
   width: 20%;
   height: 100%;
   margin-top: 2px;
}
.container-header-pesan .fas{
   margin: 5px;
}
.container{
  display: inline-block;
  justify-content: center;
  text-align: center;
  width: 100%;
}
input:invalid{
  background: white;
  border: 2px solid whitesmoke;
}
.container-pesan{
  margin-top: 6em;
  background: rgb(236, 235, 235);
  width:60%;
  height:auto;
  padding:15px;
  position: absolute;
  left:20%;
  top:1%;
  border-radius: 5px;
}
.input-form{
  width:95%;
  background:white;
  border: 2px solid whitesmoke;
  margin:0.9%;
  padding:10px;
  border: none;
  border-radius: 5px;
}
.select-pesan{
  width:95%;
  background:white;
  border: 2px solid whitesmoke;
  margin:0.9%;
  padding:10px;
  border: none;
  border-radius: 5px;
}
.input-form-value{
  width:57.5%;
  background:#F9F9F9;
  margin:1%;
  padding:10px;
  border: none;
  border-radius: 5px;
}
.btn-form-change{
  color:white;
  background: rgb(0, 81, 255);
  font-weight: bold;
  border:none;
  border-radius:50px;
  padding:15px;
  margin:10px;
  width: 35%;
  float:left;
  margin-left: 20px;
  cursor: pointer;
}
.btn-form-pay{
  color:white;
  background: rgb(0, 81, 255);
  font-weight: bold;
  border:none;
  border-radius:50px;
  padding:15px;
  margin:10px;
  width: 35%;
  float:right;
  cursor: pointer;
}
.btn-form-pay:hover{
  background:#66bef9;
}
.btn-form-change:hover{
  background: rgb(45, 46, 49);
}
table {
    margin-top: 5px;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}
.pilihan{
  display: inline-flex;
}
.pilihan select{
  padding: 10px;
  width: 500px;
  border-radius: 5px;
  border: 2px solid whitesmoke;
}
th, td {
    background: white;
}
th:hover {
  box-shadow:2px 0px 10px 0px #F4F4F4;
  border: 1px solid rgb(0, 81, 255);
}
th{
  border: 1px solid #F4F4F4;
}
@media only screen and (max-width: 700px) {
    .container-pesan{
      width:80%;
      left:6%;
    }
    .input-form-value{
      width:49%;
    }
}